# Dependencies
/node_modules
/.pnp
.pnp.js

# Production build
/build
/dist
/out

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Caching
.npm
*.tsbuildinfo

# Editor directories and files
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Environment variables
.env
.env.local
.env.*.local

# Misc
.DS_Store
